// formulario - contact us
.contact-body {
    height: 100vh;
    .contact-me {
        form {
            background: $colorSecundario;
            border-style: none;
            border-radius: 20px;
            display: block;
            width: 400px;
            height: 300px;
            padding: 20px;
            @media screen and(max-width: 375px) {
                width: 300px;
            }
            @media(min-width: 376px) and(max-width: 425px) {
                width: 350px;
            }
            .complete {
                @include flex(flex, column, center);
                button {
                    margin-bottom: 10px;
                    margin-top: 15px;
                    border-style: none;
                    border-radius: 2px;
                }
                input {
                    margin-bottom: 10px;
                    border-style: none;
                    border-radius: 2px;
                }
            }
        }
    }
}

// form - branches
body {
    .container-formPlace {
        @include flex(flex, column, center);
        padding: 8rem 15rem 0;
        h5 {
            font-size: 10px;
            visibility: hidden;
        }
        @media screen and(max-width: 425px) {
            padding: 3rem 2rem 1rem;
        }
    }
    .card {
        @include flex(flex, row, none);
        padding: 5rem 15rem;
        flex-wrap: wrap;
        background: none;
        border: none;
        margin: 0;
        h5 {
            font-size: 10px;
            visibility: hidden;
        }
        @media screen and(max-width: 425px) {
            padding: 3rem 2rem 1rem;

        }
        .card-body {
            background-color: $black;
            border-radius: 5px;
            color: $colorPrincipal;
            padding: 2rem;
            @media screen and(max-width: 425px) {
                padding: 3rem 2rem 1rem;
            }
        }
    }
    .button-position {
        display: flex;
        justify-content: center;
        button {
            text-align: center;
            border-style: inset;
            border-bottom: solid 2px;
            border-radius: 5px;
            padding: 3px;
            width: 65%;
        }
    }
}
